################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/campusMVPLOC/bin
/campusMVPLOC/obj/Debug
